<div class="col-md-2">
  <%= render partial: 'statics', locals: { user: @user } %>
</div>


<div class="col-md-6">
  <% if @messages.count == 0 %>
    <div>暂时没有任何消息</div>
  <% else %>
      <ul class="list-group">
        <%= render 'messages' %>
        <% if @messages.size == 10 %>
          <%= link_to '加载更多', '#more-posts-hash', { class: 'more-posts', id: 'more-posts-hash', data: { offset: 1 } } %>
        <% end %> 
      </ul>
  <% end %>
</div>