<div class="col-md-2 hidden-xs">
  <%= render partial: 'users/statics', locals: { user: @user } %>
</div>

<div class="col-md-6">
  <% if Follower.where(fid: @user.id).count - 1 == 0 %>
    <div>还没有关注的人</div>
  <% else %>
    <div class="list-group followers-list clearfix">
    <% Follower.where("fid = ? and user_id != ?", @user.id, @user.id).each do |f| %>
      <%= render partial: 'users/statics', locals: { user: User.find(f.user_id) } %>
    <% end %>
  </div>  
  <% end %>
  
</div>