<% if get_u == @user %>
  <% content_for :d, flush: true  do %>
    <li><%= link_to '删除', post_path(post), class: 'delete' %></li>
  <% end %>
<% else %>
  <% content_for :d, flush: true do %><% end %>
<% end %>