<div class="col-md-2">
  <%= render partial: 'users/statics', locals: { user: @user } %>
  <!--此处用ajax添加关注-->

</div>

<div class="col-md-6">
  <% if @posts.count == 0 %>
    <div>暂时没有任何微博</div>
  <% else %>
    <ul class="list-group">
      <%= render partial: 'post', layout: 'users/post_list', collection: @posts %>
      <% if @posts.size == 10 %>
        <%= link_to '加载更多', '#more-posts-hash', { class: 'more-posts', id: 'more-posts-hash', data: { offset: 1 } } %>
      <% end %>  
    </ul>
  <% end %>
</div>